{% extends "sablon.html" %} {% block icerik %}
<div class="ftco-blocks-cover-1">
  <div
    class="site-section-cover overlay"
    style="background-image: url('static/img/anasayfafoto2.jpg')"
  >
    <div class="container">
      <div class="row align-items-center justify-content-center text-center">
        <div class="col-md-5" data-aos="fade-up">
          <h1 class="mb-3 text-white">BİZ KİMİZ?</h1>
          <p>Kim bu GEZGİN TOY.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <p>Kısaca Biz;</p>
    <p>
      “Yahu orası da neresi?” diyeceğiniz ve belki de hiçbir zaman gidiş- dönüş
      bilet alıp zaman geçirmeyi bile düşünmeyeceğiniz yerlere gitmeyi
      seviyoruz. Sadece lokaller tarafından bilinen güzel memleketlere/
      şehirlere/ ilçelere/ kasabalara/ köylere vs. birer birer tick (√ )
      atıyoruz. Ama bunu yaparken de en efektif haritayı çıkartıp, en ekonomik
      alternatifleri tercih ediyoruz. Seyahatlerimizde bir taşla birden fazla
      kuş vurmayı seviyoruz anlayacağınız. Önünden geçip giderken merak edip de
      bi’ uğramadığımız yer bırakırsak içimiz rahat etmiyor. Huyumuz kurusun,
      hemen bildiğimizi herkesle paylaşmak istiyoruz.🙂 Biz yaptık siz de gidip
      görün, tadın, deneyin istiyoruz. Daha bir yeri yeni keşfetmişken, bir
      başka yere ayak basma hayalleri kuruyor ve anında “ne zaman ve nasıl
      gideriz” planları yapmaya başlıyoruz. Hiç doymuyoruz yani, sürekli daha
      fazla gezmeye aç bir şekilde geziyoruz.. Aç demişken, öyle çok zengin
      falan da değiliz. Didinip, biriktirip çıkıyoruz yollara.. Sponsorumuz,
      finansörümüz de yok maalesef ki elimizden tutsun da yolumuzu açsın, kendi
      yağımızda kavruluyoruz. Ama çok eğleniyoruz! Devamlı eğlenecek bir şey
      buluyoruz kendimize. En kötü hostel odalarında, en hüsrana uğradığımız
      müzelerde, en kirli şehirlerde bile “Neden buraya geldik ki sanki?!”
      dememek için illa bir aktivite yaratıyoruz kendimize. Yani hem ekonomik
      hem de efektif seyahatler peşindeyiz. Ama özellikle az bilinen yerleri
      keşfetmek bizim için ayrı bir haz. Özetle gezmeyi ve paylaşmayı çok
      seviyoruz. Zaten bunun için buradayız 🙂
    </p>
    <p>
      Bizce gezmek için en önemli şey ilk adımı atmak…Lao Tzu’nun dediği gibi
      “En uzun yolculuklar bile tek bir adımla başlar.”… Biz de gördüklerimiz
      fotoğraflarda, yediğimiz-içtiğimiz midede ve anılarımız da yazılarda olsun
      dedik başladık yazmaya. 2019’de tohumlarını attığımız ama nadasa
      bıraktığımız gezi ve yaşam tarzı blogumuzun, yeni yeni toprağını
      havalandırarak elden geçirdik. Bakalım ne zaman meyveleri toplamaya
      başlayacağız 🙂 GEZGİN TOY’un ne olduğunu hala tam olarak
      kavrayamadıysanız bizde kalmaya devam edin.
    </p>

    <p class="center">
      “Hayat varılacak yer değil, yolculuktur.” Ralph Waldo Emerson
    </p>
  </div>
</div>
{% endblock %}
